body{
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 767px) {/*<=small*/
    .interactive-box{
        min-height: 150px;
    }
}
@media screen and (min-width: 992px) {/*>=medium*/
    .interactive-box{
        min-height: 330px;
    }
}

.floating-background{
    z-index: 1;
}

#panel1{
    background-color: #4682B4;
}
#panel3{
    background-color: #e4f1fe;
}
/*
#projects{
    
}
#employment{
    
}
*/

.center-children {
    margin-top: 10px;
    text-align: center;
}
.center-children > h4{
    margin: auto;
}

.small-box {
    position: relative;
    opacity: 0.9;
    border-radius: 5px;
    display: block;
    background-color: white;
    height: 30%;
    top: 50%;
    left: 50%;
    margin: 20px 5px;
    padding: 3px;
    box-shadow: 0px 1px 2px #808080;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
}

.small-box div{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%); /* IE 9 */
    -webkit-transform: translate(0%, -50%); /* Safari */
}

.small-box #barcode{
    font-family: 'Libre Barcode 39', 'Lato', sans-serif;
}

.small-box #name{
    font-family: 'Lato', sans-serif;
}

.normal-box {
    position: relative;
    opacity: 0.9;
    border-radius: 5px;
    display: block;
    background-color: white;
    min-height: 480px;
    height: 80vh;
    top: 0px;
    left: 0px;
    margin: 20px 5px;
    padding: 15px;
    box-shadow: 0px 1px 2px #808080;
}

.interactive-box{
    position: relative;
    opacity: 0.9;
    border-radius: 5px;
    display: block;
    background-color: white;
    height: calc(100% - 30px);
    min-height: 210px;
    top: 0px;
    left: 0px;
    margin: 15px;
    padding: 3px;
    box-shadow: 0px 1px 2px #808080;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.interactive-box::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    box-shadow: 0 5px 15px #505050;
    opacity: 0;

    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.interactive-box:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.055);
}

.interactive-box:hover::after{
    opacity: 1;
}

a.scroll-to{
    text-shadow: 2px 2px black;
    color: rgb(255, 255, 255);
}
a.scroll-to:hover{
    color: red;
    text-decoration: none;
}

hr{
    border-top: 1px solid black;
}

.section{
    height: 100vh;
    min-height: 600px;
}

.section-title-container{
     height: 72px;
     justify-content: center;
 }

.section-title-fixed{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0); /* IE 9 */
    -webkit-transform: translate(-50%, 0); /* Safari */
    font-size: 48px;
    text-align: center;
}

.section-title{
    font-size: 48px;
    text-align: center;
    bottom: auto;
}

.moving-title .section-title{
    bottom: auto;
}

.moving-title .section-title .section-display-text{
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-size: 1em;
}

.section-display-subtext{
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-size: 0.75em;
}

.face-container{
    height: 80vh;
    min-height: 480px;
}
.face{
    min-height: 400px;
}
.face img{
    max-width: 100%;
    max-height: 70vh;
    height: auto;
    position: relative;
    top: 50%;
    -ms-transform: translate(0, -50%); /* IE 9 */
    -webkit-transform: translate(0, -50%); /* Safari */
    transform: translate(0, -50%);
}
.face#left-face{
    text-align: right;
}

.background-img{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1000;
    background-color: #333;
}

.background-img div{
    color: white;
}

.background-img div{
    height: 100%;
    padding: 0;
}

.background-img div img{
    height: 100%;
}

.big-link{
    font-size: 32px;
}

.center{
    top: 50%;
    -ms-transform: translate(0, -50%); /* IE 9 */
    -webkit-transform: translate(0, -50%); /* Safari */
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
}
.center ul li{
    display: flex;
    justify-content: center;
}

.center-vert{
    top: 50%;
    -ms-transform: translate(0, -50%); /* IE 9 */
    -webkit-transform: translate(0, -50%); /* Safari */
    transform: translate(0, -50%);
}

.project-img{
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    max-height: 400px; 
    width: 100%;
}

#projects-fasttunnel-img{
    max-width: calc(400px * 0.5625); 
}

#projects-hotdog-img{
    max-width: calc(400px * 0.7129); 
}

#projects-taca-img{
    max-width: calc(400px * 0.5625);
}

#educ-img-1 img{
    max-width: 100%;
    max-height: 70vh;
    height: auto;
}
#educ-img-1{
    text-align: center;
}
#empl-img-1{
    text-align: center;
}
#empl-img-1 img{
    max-width: 100%;
    max-height: 70vh;
    height: auto;
}

#panel2{
    height: auto;
    min-height: 100vh;
}

#google-play{
    height: auto;
    width: 240px;
}

#contact-information{
    text-align: center;
    margin-top: 30px;
}

#contact-information ul{
    list-style: none;
    padding: 0;
}

#about-me{
    text-align: left;
}