.vertical-center{
    min-height: 100%;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
}

.content{
    
}

.outlined{
    border: 1px solid red;
}

.section{
    height: 100vh;
}

.active a{
    color:#f00;
    border-bottom:3px solid #F00;
}

.section-title-container{
     height: 72px;
 }

.section-title-fixed{
    position: fixed;
    left: 0;
    font-size: 48px;
    text-align: center;
}

.section-title{
    font-size: 48px;
    text-align: center;
    bottom: auto;
}

.section-display-text{
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#section-display-text-me{
    font-size: 1em;
}
#section-display-text-projects{
    font-size: 1em;/*0.66*/
}
#section-display-text-education{
    font-size: 1em;/*0.44*/
}
#section-display-text-employment{
    font-size: 1em;/*0.293*/
}

#section-display-me{
    bottom: auto;/*1.393em*/
}
#section-display-projects{
    bottom: auto;/*0.733em*/
}
#section-display-education{
    bottom: auto;/*0.293em*/
}
#section-display-employment{
    bottom: auto;/*0*/
}