.vertical-nav{
    min-height: 100%;
    background-color: #999;
    justify-content: center;
}

.nav-bar{
    background-color: #999;
}

.nav-bar-links{
    list-style-type: none;
}

.nav-bar-link{
    
}

.content{
    background-color: red;
}

.section{
    height: 100vh;
}

.active a{
    color:#f00;
    border-bottom:3px solid #F00;
}